.movies-card {
  height: 271px;
  max-width: 364px;
  overflow: hidden;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
}

.movies-card__image {
  width: 364px;
  height: 203px;
  object-fit: cover;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px;
}

.movies-card__title {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.movies-card__time {
  margin: -14px 0 10px 14px;
  font-size: 11px;
  font-weight: 400;
  color: #A0A0A0;
}

.movies-card__button {
  background-image: url(../../images/button__save_inactive.svg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.movies-card__button_save_active {
  background-image: url(../../images/button__save_active.svg);
}

.movies-card__button:hover {    
  cursor: pointer;
  opacity: 0.8;
}

.movies-card__button_delete_card {
	background-image: url(../../images/button__delete.svg);
	align-self: center;
}

.movies-card__button_delete_card {
  cursor: pointer;
  opacity: 0.8;
}

.movies-card__button_delete_card:hover {    
  cursor: pointer;
  opacity: 0.8;
}

/* .movies-card__button_type_delete {
  background-image: url(../../images/button__delete.svg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
} */

/* .movies-card__button_type_saved {
  background-image: url(../../images/button__saved.svg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
} */

/* .movies-card__button_type_delete:hover {    
  cursor: pointer;
  opacity: 0.8;
} */

@media screen and (max-width: 768px) {
  .movies-card {
      max-width: 339px;
  }

  .movies-card__image {
      width: 339px;
  }
}

@media screen and (max-width: 480px) {
  .movies-card {
      max-width: 300px;
      justify-content: center;
  }

  .movies-card__image {
      width: 300px;
  }
}