.portfolio {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 101px;
}

.portfolio__title {
  margin: 0 0 0 70px;
  color: #A0A0A0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1140px;
  width: calc(100% - 70px*2);
  margin: 50px 0 0px 70px;
  padding: 0 0 125px 0;
  list-style: none;
}

.portfolio__item-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 19px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__item-element:hover {
  opacity: 0.8;
}

.portfolio__item-element:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__item-text {
  margin: 0;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-decoration: none;
  color:#000000;
}

.portfolio__item-img {
  width: 18px;
  height: 17px;    
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .portfolio__title {
      margin: 0 0 0 50px;
  }

  .portfolio__item {
      margin: 50px 0 0 50px;
      max-width: 668px;
      width: calc(100% - 50px*2);
      padding-bottom: 90px;
  }

  .portfolio__item-text{
      font-size: 28px;
      line-height: 50px;
      font-weight: 400;
  }
}

@media screen and (max-width: 320px) {
  .portfolio {
      padding-top: 70px;
  }

  .portfolio__title {
      margin: 0 0 0 14px;
  }

  .portfolio__item {
      margin: 40px 0 0 14px;
      max-width: 292px;
      width: calc(100% - 14px*2);
      padding-bottom: 70px;
  }

  .portfolio__item-text{
      font-size: 18px;
      line-height: 28px;
  }
}