.about-project {
  width: 1280px;
  margin-top: 12px;
  color:#000000;
  margin: 110px auto 0 auto;
	padding-right: 2%;
}
  
.about-project__wrapper {
  margin: 70px 70px 110px 70px;
  display: grid;
  grid-template-columns: 550px 550px;
  grid-row-gap: 40px;
  grid-column-gap: 26px;
}
  
.about-project__title {
  margin:0;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.about-project__subtitle {
  margin:0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.deadlines {
  margin: 0 70px 110px 70px;
  display: grid;
  grid-template-columns: 228px 912px;
  grid-row-gap: 14px;
}

.deadlines__time {
  font-weight: normal;
  min-height: 36px;
  font-size: 14px;
  line-height: 17px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deadlines__time_other_theme {
  background-color: #2BE080;
}

.deadlines__topic {
  margin: 0;
	font-weight: normal;
  font-size: 14px;
  min-height: 36px;
  line-height: 17px;
  color:#A0A0A0;
  display: flex;
  justify-content: center;
  align-items: center;
}