.about-me {
  width: 1280px;
  color:#000000;
  padding-top: 110px;
  margin: 0 auto;
}
  
.about-me__wrapper {
  display: grid;
  grid-template-columns: 600px 270px;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 270px;
  margin: 66px auto 101px auto;
  width: 1140px;

}
  
.about-me__title {
  grid-column: 1/2;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
  letter-spacing: -0.04em;
}
  
.about-me__subtitle {
  grid-column: 1/2;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px 0 20px 0;
}
  
.about-me__text {
  grid-column: 1/2;
  grid-row: 3/3;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin:0 20px 115px 0;
}

.about-me__link {
  margin-right: 20px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__link:last-child {
  margin-right: 0;
}

.about-me__links {
  display: flex;
  align-items: flex-end;
  margin: 20px 0 0 0;
  grid-column: 1/2;
  grid-row: 3/3;
}
 
.about-me__photo {
  grid-column: 2/2;
  grid-row: 1/4;
  width: 270px;
	height: 327px;
}